{% extends "cards/card_template.html" %}

{% block instructions_content %}
<div class = "page">
    <h1>Instructions</h1>

    <div class = "box">
        <p>
            <br>Select a colour and progress below:
            <br>Example: 🟢 Green Getting worse
            <br>🟡 Yellow Stable
            <br>🔴 Red Improving
        </p>
    </div>
</div>
{% endblock instructions_content %}



{% block previous_page %}
    <a href ="{% url 'team' %}" class = "backbutton">
        <button type = "button">Back</button>
    </a>
{% endblock previous_page %}

{% block next_page %}
    <a href = "{% url 'card' 1 %}">
        <button type = "button">Next</button>
    </a>
{% endblock next_page %}