{% include "pages/sidepanel.html" %}

{% block team_css %}
<style>
    .page {
        margin-left: 120px;
        padding: 70px;
        background-color: #B9D8F3;
    }
    
    .page h1 {
        text-align: center;
        margin-top: 90px;
        font-size: 40px;
    }

    .page h3{
        margin-top: 50px;
        text-align: center;
    }

    .teamselection{
        text-align: center;
    }

    .teamselection select {
        border: 2px solid #333;
        padding: 20px;
        width: 300px;
        margin: auto;
        font-size: 20px;
    }

    .buttons{
        display: flex;
        margin: 100px auto auto;
        gap: 100px;
        width: 350px; 
    }

    .buttons button {
        margin-left: 20px;
        padding: 20px 30px;
        font-size: 16px;
        background-color: #073284;
        color: white;
        cursor: pointer;
    }

    .error_message{
        color: red;
        font-size: 14px;
        text-align: center;
        margin-bottom: 40px;
    }
</style>
{% endblock team_css %}


{% block team_content %}
<div class = "page">
    <h1>Team</h1>
    <h3><b>Select Your Team Below</b></h3>

    {% if messages %}
        {% for message in messages %}
            <div class = "error_message">
                <p>{{message}}</p>
            </div>
        {% endfor %}
    {% endif %}
    <form method = "POST">
        {% csrf_token %}
        <div class = "teamselection">
            <select name = "team">
                <option value = "" disabled selected>Choose your team</option>
                <option value = "one">Team 1</option>
                <option value = "two">Team 2</option>
                <option value = "three">Team 3</option>
                <option value = "four">Team 4</option>
            </select>
        </div>


        <div class = "buttons">
            <a href ="{% url 'dashboard' %}" class="backbutton">
                <button type = "button">Back</button>
            </a>
            <button type = "submit">Next</button>
        </div>
    </form>
</div>
{% endblock team_content %}