<!--Parent template for instructions and card1.html to card11.html-->
{% include "pages/sidepanel.html" %} <!--The side panel is included in this page-->

{% block cardtemplate_css %} 
<style> /*CSS for this page */
    .page {
        margin-left: 200px;
        padding: 120px;
        background-color: #B9D8F3;
        text-align: center;
    }
    
    .page h1 {
        margin-top: 10px;
        margin-left: 40px;
        font-size: 40px;
    }

    .page h3{
        margin-top: 50px;
    
    }

    .box{
        margin-left: 50px;
        padding: 3px;
        background-color: white;
        border: 3px solid black;
        font-size: 20px;
    }

    .options {
        display: flex;
        justify-content: center;
        margin-left: 250px;
        gap: 100px;
    }
 
    .colour_option select{
        border: 2px solid #333;
        padding: 20px;
        width: 300px;
        margin: auto;
        font-size: 20px;
    }

    .progress_option select {
        border: 2px solid #333;
        padding: 20px;
        width: 300px;
        margin: auto;
        font-size: 20px;
    }
    .buttons{
        display: flex;
        justify-content: center;
        margin: 80px auto auto;
        margin-right: 430px;
        gap: 250px;
        width: 350px; 
    }

    .buttons button {
        padding: 20px 30px;
        font-size: 16px;
        background-color: #073284;
        color: white;
        cursor: pointer;
    }

    .error_message{
        color: red;
        font-size: 20x;
        text-align: center;
        margin-bottom: 40px;
    }
</style>
{% endblock cardtemplate_css%}


{% block card_content %}

{% block instructions_content %}{% endblock instructions_content %} <!-- Content is defined in the child's template and placed here -->
{%block healthcard %}{% endblock healthcard %} <!--Content is defined in the child's template -->

{% if messages %} <!--This block handles the error messages in my code-->
{% for message in messages %}
    <div class = "error_message">
        <p>{{message}}</p> <!--Error message is displayed here -->
    </div>
{% endfor %}
{% endif %}

<form method = 'POST'> <!--Form is used to submit the user's health check choices-->
    {% csrf_token %} <!--CSRF token is used to protect data when the form is posted-->
    <div class = "options">
        <div class = "colour_option">
            <select name = "colour"> <!--Simple HTML drop list is used that contains the colour options-->
                <option value = "" disabled selected >Pick a colour</option>
                <option value = "green">Green</option>
                <option value = "yellow">Yellow</option>
                <option value = "red">Red</option>
            </select>
        </div>
        
        <div class = "progress_option">
            <select name = "progress"> <!--Simple HTML drop list is used that contains the progress options-->
                <option value = "" disabled selected>Pick a progress</option>
                <option value = "stable">Stable</option>
                <option value = "improving">Improving</option>
                <option value = "getting_worse">Getting worse</option>
            </select>
        </div>
    </div>
    
    <div class = "buttons">
        {% block previous_page %}
        <!--This block is used for definining the previous page button which is customised in child's template -->
        {% endblock previous_page %}

        {% block next_page %}
        <!--This block is used for definining the next page button which is customised in child's template -->
        {% endblock next_page %}
    </div>

</form>
{% endblock card_content%}