{% extends "cards/card_template.html" %}

{% block healthcard %}
<div class = "page">
    <h1>Equipment</h1>
    <div class = "box">
        <p>
            <br>🟢 The equipment we use for our projects is new and we have access when we need it
            <br>🟡 our equipment is old but we can get our work done
            <br>🔴 The equipment is super old and they don't work 
        </p>
    </div>
</div>
{% endblock healthcard %}


{% block previous_page %}
    <a href ="{% url 'card' 8 %}" class = "backbutton">
        <button type = "button">Back</button>
    </a>
{% endblock previous_page %}

{% block next_page %}
    <a href = "{% url 'card' 10 %}">
        <button type = "submit">Next</button>
    </a>
{% endblock next_page %}