{% include "pages/sidepanel.html" %}

{% extends ""}
{% block instructions_css %}
<style>
    .page {
        margin-left: 200px;
        padding: 100px;
        background-color: #B9D8F3;
        min-height: 120px;
        text-align: center;
    }
    
    .page h1 {
        margin-top: 10px;
        font-size: 40px;
    }

    .page h3{
        margin-top: 50px;
    
    }

    .instructions{
        
        padding: 5px;
        background-color: white;
        border: 3px solid black;
        border-radius: 30x;
    }

    .options{
        margin-top: 80px;
        gap: 200px;
        display: flex;
        justify-content: center;
    }

    .redbutton, .yellowbutton, .greenbutton{
        margin: 4px 2px;
        padding: 20px 80px;
        cursor: pointer;
        border: 2px solid black;
    }

    .redbutton{
        background-color:#de5b4f;
    }

    .yellowbutton{
        background-color:#f7e176;
    }
    
    .greenbutton{
        background-color:#04AA6D;
    }

    .buttons{
        display: flex;
        justify-content: center;
        margin: 100px auto auto;
        gap: 100px;
        width: 350px; 
    }

    .buttons button {
        padding: 20px 30px;
        font-size: 16px;
        background-color: #073284;
        color: white;
        cursor: pointer;
    }
</style>
{% endblock %}


{% block card1_content %}
<div class = "page">
    <h1>Instructions</h1>
    <div class = "instructions">
        <p>
            Question:
            <br>Please select an option below:
            <br>🟢 Agree
            <br>🟡 Neutral
            <br>🔴 Disagree
        </p>
    </div>

    <div class = "options">
        <button class = "greenbutton">Agree</button>
        <button class = "yellowbutton">Neutral</button>
        <button class = "redbutton">Disagree</button>
       
        
    </div>
</div>

<div class = "buttons">
    <a href = "{% url 'team' %}">
        <button>Back</button>
    </a>
    <a href = "Instructions.html">
        <button>Next</button>
    </a>
</div>
{% endblock card1_content %}