<!--Child template of cards_template -->
{% extends "cards/card_template.html" %} <!--The card template is extended in this page --> 

{% block healthcard %} <!--This block stores the main contents on this page that will be shown on the parent's page -->
<div class = "page">
    <h1>Support</h1>
    <div class = "box">
        <p>
            <br>🟢 We always get great support when we ask for it!
            <br>🟡 We get okay support when we ask for help
            <br>🔴 We can't get the help we ask for when we are stuck
        </p>
    </div>
</div>
{% endblock healthcard %}


{% block previous_page %} <!--This block includes a back button that will direct the user back to previous page-->
    <a href ="{% url 'card' 3 %}" class = "backbutton">
        <button type = "button">Back</button>
    </a>
{% endblock previous_page %}

{% block next_page %}
    <a href = "{% url 'card' 5 %}">  <!--This block includes a submit button that will redirect the user to the next page-->
        <button type = "submit">Next</button>
    </a>
{% endblock next_page %}