{% extends "cards/card_template.html" %}

{% block healthcard %}
<div class = "page">
    <h1>Teamwork</h1>
    <div class = "box">
        <p>
            <br>🟢 We often have lots of fun teamworking projects
            <br>🟡We have some team work projects 
            <br>🔴 We never have team work projects
        </p>
    </div>
</div>
{% endblock healthcard %}

9
{% block previous_page %}
    <a href ="{% url 'instructions' %}" class = "backbutton">
        <button type = "button">Back</button>
    </a>
{% endblock previous_page %}

{% block next_page %}
    <a href = "{% url 'card' 2 %}">
        <button type = "submit">Next</button>
    </a>
{% endblock next_page %}