{% extends "cards/card_template.html" %}

{% block healthcard %}
<div class = "page">
    <h1>Pawns or Players</h1>
    <div class = "box">
        <p>
            <br>🟢 We are in charge of our projects and know what to build 
            <br>🟡 We have someone in charge but we know what to build
            <br>🔴 We are not in charge of our project and told what to build
        </p>
    </div>
</div>
{% endblock healthcard %}


{% block previous_page %}
    <a href ="{% url 'card' 6 %}" class = "backbutton">
        <button type = "button">Back</button>
    </a>
{% endblock previous_page %}

{% block next_page %}
    <a href = "{% url 'card' 8 %}">
        <button type = "submit">Next</button>
    </a>
{% endblock next_page %}