{% extends "cards/card_template.html" %}

{% block healthcard %}
<div class = "page">
    <h1>Learning</h1>
    <div class = "box">
        <p>
            <br>🟢 We learn lots of interesting stuff at all the time!
            <br>🟡 We learn some interesting stuff at times
            <br>🔴 We don't learn anything at all
        </p>
    </div>
</div>
{% endblock healthcard %}

{% block previous_page %}
    <a href ="{% url 'card' 2 %}" class = "backbutton">
        <button type = "button">Back</button>
    </a>
{% endblock previous_page %}

{% block next_page %}
    <a href = "{% url 'card' 4 %}">
        <button type = "submit">Next</button>
    </a>
{% endblock next_page %}