{% extends "cards/card_template.html" %}

{% block healthcard %}
<div class = "page">
    <h1>Opportunities</h1>
    <div class = "box">
        <p>
            <br>🟢 There are loads of opportunties here to explore different career paths
            <br>🟡 Limited opportunties 
            <br>🔴 There are no opportunties and it is really boring here
        </p>
    </div>
</div>
{% endblock healthcard %}


{% block previous_page %}
    {% url 'card' 9 %}
{% endblock previous_page %}

{% block next_page %}
    {% url 'card' 11 %}
{% endblock next_page %}